@using ECommerce.Entity
@model IEnumerable<OrderDetail>

@{
    ViewBag.Title = "DetailList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="~/Home/Index">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Detail List</strong></div>
        </div>
    </div>
</div>



<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Photo
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OrderId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Product.ProductName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Quantity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td class="product-thumbnail">
                                        <img src="~/Upload/@Html.DisplayFor(m=>item.Product.Photo)" alt="Image" class="img-fluid">
                                    </td>
                                    <td class="product-name">
                                        <h2 class="h5 text-black"> @Html.DisplayFor(modelItem => item.OrderId)</h2>
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Product.ProductName)</td>
                                    <td>
                                        <div class="input-group mb-3" style="max-width: 120px;">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                            </div>
                                            <input type="text" class="form-control text-center" value="@Html.DisplayFor(modelItem => item.Quantity)" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "btn btn-primary btn-sm" })
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-primary btn-sm btn-block">Update Cart</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-outline-primary btn-sm btn-block"><a href="~/Home/ListAllProduct">Continue Shopping</a></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="text-black h4" for="coupon">Coupon</label>
                        <p>Enter your coupon code if you have one.</p>
                    </div>
                    <div class="col-md-8 mb-3 mb-md-0">
                        <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary btn-sm">Apply Coupon</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-5">
                <div class="row justify-content-end">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 text-right border-bottom mb-5">
                                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-6">
                                <span class="text-black">Total</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">
                                    @{

                                        Order on = (Order)Session["Order"];
                                        <span>@on.TotalPrice.Value.ToString() ₺</span>
                                    }
                                </strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form method="get" action="~/Payment/Pay">
                                    <button type="submit" class="btn btn-primary btn-lg py-3 btn-block">Continue To Pay</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

